<ul id="slide-out" class="sidenav">
    <li>
        <div>
            <a href="index.html">
                <div class="bg-[#DB3F04] text-xl py-2 px-1 font-bold rounded-br-md">Stormson Studio</div>
            </a>
        </div>
    </li>
    <li><a href="/power_control.html">Stroom controller</a></li>
    <li><a href="/leds.html">Led controllers</a></li>
    <li><a href="/templates.html">Templates</a></li>
</ul>