<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Studio</title>

    <link href="css/materialize_theme.css" rel="stylesheet">
    <link href="css/materialize-2-0-3.css" rel="stylesheet">
    <link href="css/tailwind.css" rel="stylesheet">

    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Material+Symbols+Rounded" rel="stylesheet"/>

    <script src="js/base.js"></script>
</head>
<body>
<div id="root">
    <div id="header-bar" class="text-3xl center-align py-2 drop-shadow-xl font-bold">
        <div class="absolute top-1 left-1">
            <div class="btn low-profile-color text waves-effect drop-shadow-none sidenav-trigger"
                 data-target="slide-out">
                <i class="material-icons ">menu</i>
            </div>
        </div>
        Stormson Studio
    </div>

    <%- include('../partial_views/nav') %>
</div>

<script src="js/materialize-2-0-3.js"></script>
</body>
</html>