<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Studio - leds</title>

    <link href="css/materialize_theme.css" rel="stylesheet">
    <link href="css/materialize-2-0-3.css" rel="stylesheet">
    <link href="css/tailwind.css" rel="stylesheet">

    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Material+Symbols+Rounded" rel="stylesheet"/>

    <script src="js/base.js"></script>
    <script src="js/leds.js"></script>
</head>
<body>
<div id="root" class="flex flex-col">
    <div id="header-bar" class="text-3xl center-align py-2 drop-shadow-xl font-bold">
        <div class="absolute top-1 left-1">
            <div class="btn low-profile-color text waves-effect drop-shadow-none sidenav-trigger"
                 data-target="slide-out">
                <i class="material-icons ">menu</i>
            </div>
        </div>
        Led controller
    </div>

    <%- include('../partial_views/nav') %>
    <div class="flex flex-col flex-grow">
        <div class="grid grid-cols-1 md:grid-cols-2 gap-4">
            <div>
                <label for="ip">IP</label>
                <select id="ip" name="ip">
                    <option value="10.42.41.201" data-power="controller3">Controller 1</option>
                    <option value="10.42.41.202" data-power="controller2">Controller 2</option>
                    <option value="10.42.41.39" data-power="controller2">Test</option>
                    <option disabled>Controller 3</option>
                </select>
            </div>
            <div>
                <label for="func">Mode</label>
                <select id="func" name="func">
                    <option value="POWER_OFF" disabled>Stroom uitzetten</option>
                    <option value="OFF">Uit</option>
                    <option value="ALL" selected>Statisch</option>
                    <option value="TEST">Test</option>
                    <option value="GLOW">Gloei</option>
                    <option value="WALK">Loop</option>
                    <option value="PATTERN">Patroon</option>
                </select>
            </div>
        </div>
        <div class="mt-2"></div>
        <div class="flex flex-col h-full" id="controller_on_data">
            <div class="grid grid-cols-1 md:grid-cols-2 gap-4 px-2 mt-2">
                <div id="primary-color-box" class="hidden">
                    <div class="table">
                        <label for="primary-color" class="text-lg w-full"
                               style="display: table-cell; vertical-align: middle">Primaire kleur</label>
                        <input id="primary-color" name="primary-color" type="color"
                               style="display: table-cell; vertical-align: center">
                    </div>
                    <label for="primary-white">Hoeveelheid wit</label>
                    <input id="primary-white" name="primary-white" type="range" min="0" max="255" step="1" value="0"
                           class="!m-0">
                </div>
                <div id="primary-position-box" class="hidden">
                    <div class="flex">
                        <div class="input-field flex-grow">
                            <input id="primary-from" name="primary-from" type="number"
                                   min="0" max="255" step="1" value="0" placeholder=" ">
                            <label for="primary-from">Begin position</label>
                        </div>
                        <div class="input-field flex-grow">
                            <input id="primary-until" name="primary-until" type="number"
                                   min="0" max="255" step="1" value="10" placeholder=" ">
                            <label for="primary-until">Eind position</label>
                        </div>
                    </div>
                </div>

                <div id="secondary-color-box" class="striped-row hidden">
                    <div class="table">
                        <label for="secondary-color" class="text-lg w-full"
                               style="display: table-cell; vertical-align: middle">Secondaire kleur</label>
                        <input id="secondary-color" name="secondary-color" type="color"
                               style="display: table-cell; vertical-align: center">
                    </div>
                    <label for="secondary-white">Hoeveelheid wit</label>
                    <input id="secondary-white" name="secondary-white" type="range" min="0" max="255" step="1" value="0"
                           class="!m-0">
                </div>
                <div id="secondary-position-box" class="hidden striped-row">
                    <div class="flex">
                        <div class="input-field flex-grow">
                            <input id="secondary-from" name="secondary-from" type="number"
                                   min="0" max="255" step="1" value="10" placeholder=" " class="!bg-transparent">
                            <label for="secondary-from">Begin position</label>
                        </div>
                        <div class="input-field flex-grow">
                            <input id="secondary-until" name="secondary-until" type="number"
                                   min="0" max="255" step="1" value="20" placeholder=" " class="!bg-transparent">
                            <label for="secondary-until">Eind position</label>
                        </div>
                    </div>
                </div>

                <div id="tertiary-color-box" class="hidden">
                    <div class="table">
                        <label for="secondary-color" class="text-lg w-full"
                               style="display: table-cell; vertical-align: middle">Tertiaire kleur</label>
                        <input id="tertiary-color" name="tertiary-color" type="color"
                               style="display: table-cell; vertical-align: center">
                    </div>
                    <label for="tertiary-white">Hoeveelheid wit</label>
                    <input id="tertiary-white" name="tertiary-white" type="range" min="0" max="255" step="1" value="0"
                           class="!m-0">
                </div>
                <div id="tertiary-position-box" class="hidden">
                    <div class="flex">
                        <div class="input-field flex-grow">
                            <input id="tertiary-from" name="tertiary-from" type="number"
                                   min="0" max="255" step="1" value="20" placeholder=" " class="!bg-transparent">
                            <label for="tertiary-from">Begin position</label>
                        </div>
                        <div class="input-field flex-grow">
                            <input id="tertiary-until" name="tertiary-until" type="number"
                                   min="0" max="255" step="1" value="30" placeholder=" " class="!bg-transparent">
                            <label for="tertiary-until">Eind position</label>
                        </div>
                    </div>
                </div>

                <div id="quaternary-color-box" class="striped-row hidden">
                    <div class="table">
                        <label for="quaternary-color" class="text-lg w-full"
                               style="display: table-cell; vertical-align: middle">Quaternaire kleur</label>
                        <input id="quaternary-color" name="quaternary-color" type="color"
                               style="display: table-cell; vertical-align: center">
                    </div>
                    <label for="quaternary-white">Hoeveelheid wit</label>
                    <input id="quaternary-white" name="quaternary-white" type="range" min="0" max="255" step="1"
                           value="0"
                           class="!m-0">
                </div>
                <div id="quaternary-position-box" class="hidden striped-row">
                    <div class="flex">
                        <div class="input-field flex-grow">
                            <input id="quaternary-from" name="quaternary-from" type="number"
                                   min="0" max="255" step="1" value="30" placeholder=" " class="!bg-transparent">
                            <label for="quaternary-from">Begin position</label>
                        </div>
                        <div class="input-field flex-grow">
                            <input id="quaternary-until" name="quaternary-until" type="number"
                                   min="0" max="255" step="1" value="40" placeholder=" " class="!bg-transparent">
                            <label for="quaternary-until">Eind position</label>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="flex-grow"></div>
        <div class="px-2 md:grid md:grid-cols-3 grid-cols-1 gap-2 pb-2">
            <div class="btn low-profile-color justify-center w-full"
                 onclick="openSetting('strip_size')">
                Strip lengte aanpassen
            </div>
            <div class="btn low-profile-color justify-center w-full"
                 onclick="openSetting('animation_speed')">
                Animatie snelheid aanpassen
            </div>
            <div class="btn low-profile-color justify-center w-full"
                 onclick="openSetting('save_template')">
                Toevoegen aan template
            </div>
            <div class="btn w-full relative justify-center md:col-span-3" id="execute">
                <span>Uitvoeren</span>
                <div id="busy-executing"
                     class="absolute loading right-0 left-0 bottom-0 top-0 flex justify-center text-center pointer-events-none">
                    <div class="self-center relative">
                        <i class="text-[#DB3F04] material-symbols-rounded small p-0 loading1">hourglass_bottom</i>
                        <i class="text-[#DB3F04] material-symbols-rounded small p-0 absolute left-0 right-0 loading2">hourglass_bottom</i>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <dialog id="adjust-strip-size-dialog" class="items-center p-3 text-center">
        <div class="text-xl">Lengte aanpassen</div>
        <div class="input-field">
            <input id="txt-leds" name="txt-leds" type="number" min="1" max="900" step="1" value="600"/>
            <label for="txt-leds">Aantal LED's</label>
        </div>
        <div class="md:flex mt-2">
            <div class="btn low-profile-color w-full md:w-auto" onclick="this.parentNode.parentNode.close()">
                Annuleren
            </div>
            <div class="grow"></div>
            <div class="btn w-full md:w-auto mt-2 md:mt-0" onclick="adjustSize()">
                Opslaan
            </div>
        </div>
    </dialog>
    <dialog id="adjust-animation-speed-dialog" class="items-center p-3 text-center">
        <div class="text-xl">Animatie snelheid aanpassen</div>
        <div class="input-field">
            <input id="txt-speed" name="txt-speed" type="number" min="0" max="255" step="1" value="10"/>
            <label for="txt-speed">Snelheid</label>
        </div>
        <div class="md:flex mt-2">
            <div class="btn low-profile-color w-full md:w-auto" onclick="this.parentNode.parentNode.close()">
                Annuleren
            </div>
            <div class="grow"></div>
            <div class="btn w-full md:w-auto mt-2 md:mt-0" onclick="adjustSpeed()">
                Opslaan
            </div>
        </div>
    </dialog>
    <dialog id="add-to-template-dialog" class="items-center p-3 text-center">
        <div class="text-2xl">Toevoegen aan template</div>
        <div class="input-field h-[150px]">
            <input id="txt-template-name" name="txt-template-name" type="text" class="autocomplete"
                   placeholder=" "/>
            <label for="txt-template-name">Template naam</label>
        </div>
        <div class="md:flex mt-2">
            <div class="btn low-profile-color w-full md:w-auto" onclick="this.parentNode.parentNode.close()">
                Annuleren
            </div>
            <div class="grow"></div>
            <div class="btn w-full md:w-auto mt-2 md:mt-0" onclick="addTemplate()">
                Opslaan
            </div>
        </div>
    </dialog>
</div>

<script src="js/materialize-2-0-3.js"></script>
</body>
</html>