<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Studio</title>

    <link href="css/materialize_theme.css" rel="stylesheet">
    <link href="css/materialize-2-0-3.css" rel="stylesheet">
    <link href="css/tailwind.css" rel="stylesheet">

    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Material+Symbols+Rounded" rel="stylesheet"/>

    <script src="js/base.js"></script>
    <script src="js/power.js"></script>
</head>
<body>
<div id="root">
    <div id="header-bar" class="text-3xl center-align py-2 drop-shadow-xl font-bold">
        <div class="absolute top-1 left-1">
            <div class="btn low-profile-color text waves-effect drop-shadow-none sidenav-trigger"
                 data-target="slide-out">
                <i class="material-icons ">menu</i>
            </div>
        </div>
        Stroom controllers
    </div>

    <%- include('../partial_views/nav') %>

    <div class="flex flex-col h-full">
        <div class="mt-2"></div>
        <div class="grid grid-cols-1 md:grid-cols-2 mt-2 gap-1 px-2">
            <div class="btn low-profile-color justify-center" onclick="setPowerState('studio-power', 'off')">Camera's
                uit
            </div>
            <div class="btn low-profile-color justify-center" onclick="setPowerState('studio-power', 'on')">Camera's
                aan
            </div>
        </div>
        <div class="grid grid-cols-1 md:grid-cols-2 mt-2 gap-1 px-2 striped-row">
            <div class="btn low-profile-color striped-row justify-center" onclick="setPowerState('controller2', 'off')">
                Licht controller 2 uit
            </div>
            <div class="btn low-profile-color striped-row justify-center" onclick="setPowerState('controller2', 'on')">
                Licht controller 2 aan
            </div>
        </div>
        <div class="grid grid-cols-1 md:grid-cols-2 mt-2 gap-1 px-2">
            <div class="btn low-profile-color justify-center" onclick="setPowerState('controller3', 'off')">Licht
                controller 3 uit
            </div>
            <div class="btn low-profile-color justify-center" onclick="setPowerState('controller3', 'on')">Licht
                controller 3 aan
            </div>
        </div>
        <div class="grid grid-cols-1 md:grid-cols-2 mt-2 gap-1 px-2 striped-row">
            <div class="btn low-profile-color striped-row justify-center" onclick="setPowerState('10.42.41.40', 'off')">
                Test controller uit
            </div>
            <div class="btn low-profile-color striped-row justify-center" onclick="setPowerState('10.42.41.40', 'on')">
                Test controller aan
            </div>
        </div>

        <div class="grid grid-cols-1 md:grid-cols-2 mt-2 gap-1 px-2">
            <div class="btn low-profile-color justify-center" onclick="setRoomLights('off')">
                Lichten uit
            </div>
            <div class="btn low-profile-color justify-center" onclick="setRoomLights('on')">
                Lichten aan
            </div>
        </div>
        <div class="h-[20px]"></div>
    </div>
</div>

<script src="js/materialize-2-0-3.js"></script>
</body>
</html>