@tailwind base;
@tailwind components;
@tailwind utilities;

html, button, input, optgroup, select, textarea {
    font-family: "Montserrat", Sans-serif, serif;
}

html {
    background: #031B26;
}

html, body, #root {
    @apply h-full m-0;
    /*height: 100%;*/
    /*margin: 0;*/
}

.low-profile-color {
    background: #0A232D;
}

.low-profile-color.btn.text {
    color: var(--font-color-main);
}

.striped-row {
    /*background-color: var(--background-color-slight-emphasis);*/
    background-color: #00000050;
}

.loading {
    display: none;
}

.busy > :not(.loading) {
    display: none;
}

.busy > .loading {
    display: inline-block;
}

.loading1 {
    animation: loading1-animation 1s infinite normal linear;
}

@keyframes loading1-animation {
    0% {
        transform: rotate(0deg);
    }
    33% {
        opacity: 1;
        transform: rotate(180deg);
    }
    100% {
        opacity: 0;
        transform: rotate(180deg);
    }
}

.loading2 {
    animation: loading2-animation 1s infinite normal linear;
    opacity: 0;
}

@keyframes loading2-animation {
    0% {
        opacity: 0;
    }
    33% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

dialog {
    background: #031B26;
    border-color: #2C3B41;
    @apply backdrop:bg-black backdrop:opacity-50 border-2 rounded-md text-white
}